<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>test/src/Unit</directory>
        </testsuite>
        <testsuite name="Feature Tests">
            <directory>test/src/Feature</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log lowUpperBound="35" highLowerBound="70" showUncoveredFiles="true" />
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="coverage-html" target="build/phpunit" showUncoveredFiles="true"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>