/**
 * This file is part of the LivingMarkup package.
 *
 * (c) Matthew Heroux <matthewheroux@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

// crop at 1440x600
.hero-image {
  width: 100%;
  height: 400px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// crop at 1260x630
.front-page {
  .hero-image {
    width: 100%;
    min-height: 50vw;
  }
}